.button {
  color: #fff;
  padding: 12px 14px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 22px;
}

.button:active {
  transform: scale(0.99);
}


.button_danger {
  background: linear-gradient(
    87.05deg,
    #f4013d 17.99%,
    #f0073e 43%,
    #f1013b 68.01%,
    #d90e3c 93.02%
  );
  box-shadow: 0px 3px 49px -3px rgba(226, 72, 72, 0.76),
    inset 0px -4px 0px #8f1919;
}
