* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Laviossa RUS";
}

.btn_primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  background: #2a85ff;
  color: white;
  border-radius: 12px;
  text-decoration: none;
}
.btn_primary:active {
  transform: scale(0.95);
}

.main_section {
  padding: 30px 94px 30px 94px;
  min-height: 100vh;
}

.input {
  padding: 12px;
  background: #f4f4f4;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 100%;
}
